pkgbase = llama.cpp-vulkan-bin
	pkgdesc = llama.cpp prebuilt Vulkan binaries for Linux x86_64
	pkgver = b9829
	pkgrel = 1
	url = https://github.com/ggml-org/llama.cpp
	arch = x86_64
	license = MIT
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = libstdc++
	depends = openssl
	depends = vulkan-icd-loader
	optdepends = vulkan-intel: Intel GPU acceleration
	optdepends = vulkan-radeon: AMD GPU acceleration
	optdepends = python-numpy: convert_hf_to_gguf.py
	optdepends = python-gguf: convert_hf_to_gguf.py
	provides = llama.cpp
	conflicts = llama.cpp
	conflicts = llama.cpp-bin
	conflicts = libggml
	conflicts = ggml
	source = llama-b9829-bin-ubuntu-vulkan-x64.tar.gz::https://github.com/ggml-org/llama.cpp/releases/download/b9829/llama-b9829-bin-ubuntu-vulkan-x64.tar.gz
	sha256sums = 67a1b825dffbf528d16406a0694bbd666fc4251cb8bcc5d87e8c44e4da62b9c4

pkgname = llama.cpp-vulkan-bin
