pkgbase = llama.cpp-vulkan-bin
	pkgdesc = llama.cpp prebuilt Vulkan binaries for Linux x86_64
	pkgver = b9672
	pkgrel = 1
	url = https://github.com/ggml-org/llama.cpp
	arch = x86_64
	license = MIT
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = libstdc++
	depends = openssl
	depends = vulkan-icd-loader
	optdepends = vulkan-intel: Intel GPU acceleration
	optdepends = vulkan-radeon: AMD GPU acceleration
	optdepends = python-numpy: convert_hf_to_gguf.py
	optdepends = python-gguf: convert_hf_to_gguf.py
	provides = llama.cpp
	conflicts = llama.cpp
	conflicts = llama.cpp-bin
	conflicts = libggml
	conflicts = ggml
	source = llama-b9672-bin-ubuntu-vulkan-x64.tar.gz::https://github.com/ggml-org/llama.cpp/releases/download/b9672/llama-b9672-bin-ubuntu-vulkan-x64.tar.gz
	sha256sums = ef08389959f204bfb3d01680d091016fe6cac80fcb8620c56d6be2db87c7db1f

pkgname = llama.cpp-vulkan-bin
