pkgbase = llama.cpp-vulkan-bin
	pkgdesc = llama.cpp prebuilt Vulkan binaries for Linux x86_64
	pkgver = b10424
	pkgrel = 1
	url = https://github.com/ggml-org/llama.cpp
	arch = x86_64
	license = MIT
	depends = curl
	depends = gcc-libs
	depends = glibc
	depends = libstdc++
	depends = openssl
	depends = vulkan-icd-loader
	optdepends = vulkan-intel: Intel GPU acceleration
	optdepends = vulkan-radeon: AMD GPU acceleration
	optdepends = python-numpy: convert_hf_to_gguf.py
	optdepends = python-gguf: convert_hf_to_gguf.py
	provides = llama.cpp
	conflicts = llama.cpp
	conflicts = llama.cpp-bin
	conflicts = libggml
	conflicts = ggml
	source = llama-b10424-bin-ubuntu-vulkan-x64.tar.gz::https://github.com/ggml-org/llama.cpp/releases/download/b10424/llama-b10424-bin-ubuntu-vulkan-x64.tar.gz
	sha256sums = b58946b58a56985843e9cc8d49b44b10a3c616d85777215918b267a9bf2938ef

pkgname = llama.cpp-vulkan-bin
